<!doctype html>{% load staticfiles %}
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block titulo %}AVDAT - Dados sobre acidentes de trabalho{% endblock titulo %}</title>
    <link rel="stylesheet" href="{% static "acidentes/css/foundation.min.css" %}" />
    <link rel="stylesheet" href="{% static "acidentes/css/app.css" %}" />
    <script src="{% static "acidentes/js/vendor/modernizr.js" %}"></script>
</head>
<body>

    <div class="row">
        <div class="medium-3 small-12 columns">
            <h1><a href="/acidentes/"><img src="{% static "acidentes/images/logo.png" %}"/></a></h1>
        </div>
        <div class="medium-9 small-12 columns">
            <ul class="inline-list right">
                <li><a href="voce_sabia">Saiba mais</a></li>
                <li><a href="equipe">Equipe</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="small-12 medium-9 push-3 columns">
            <!-- begin of content block -->
            {% block conteudo %}
            
            {% endblock conteudo %}
            <!-- end of content block -->
        </div>

        <!-- menu da barra lateral -->
        <div class="medium-3 small-12 pull-9 columns">
            <h3 class="panel-header-blue short">
                Funções
            </h3>
            <ul class="side-nav panel-bg">
                <li><a href="/acidentes/">Início</a></li>
                <li><a href="/acidentes/compara_estados">Comparativo entre UFs</a></li>
                <li><a href="#">Section 3</a></li>
                <li><a href="#">Section 4</a></li>
                <li><a href="#">Section 5</a></li>
                <li><a href="#">Section 6</a></li>
            </ul>
        </div>
    </div>

    <footer class="row">
        <div class="large-12 columns">
            <hr/>
            <div class="row">
                <div class="large-6 columns">
                    <p>UFSM Campus de Frederico Westphalen / 2014</p>
                </div>
                <div class="large-6 columns">
                    <ul class="inline-list right">
                        <!-- links para dados abertos etc
                        
                        <li><a href="#">Section 1</a></li>
                        <li><a href="#">Section 2</a></li>
                        <li><a href="#">Section 3</a></li>
                        <li><a href="#">Section 4</a></li>
                        
                        links para dados abertos etc -->
                    </ul>
                </div>
            </div>
        </div> 
    </footer>

    <script src="{% static "acidentes/js/vendor/jquery.js" %}"></script>
    <script src="{% static "acidentes/js/foundation.min.js" %}"></script>
    {% block page_js %}
    <script>
        $(document).foundation();
    </script>
    {% endblock page_js %}
</body>
</html>