<!doctype html>{% load staticfiles %}
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block titulo %}AVDAT - Dados sobre acidentes de trabalho{% endblock titulo %}</title>
    <link rel="stylesheet" href="{% static "acidentes/css/foundation.min.css" %}" />
    <link rel="stylesheet" href="{% static "acidentes/css/app.css" %}" />
    <script src="{% static "acidentes/js/vendor/modernizr.js" %}"></script>
</head>
<body>

    <!-- barra superior -->
    <div class="row">
        <div class="small-12 columns barra-superior">
            <ul class="inline-list right">
                <li><a href="voce_sabia">Saiba mais</a></li>
                <li><a href="equipe">Equipe</a></li>
            </ul>
        </div>
    </div><!-- fim da barra superior -->

    <div class="row">
        <!-- logotipo do site -->
        <div class="small-12 medium-3 columns">
            <h1><a href="/acidentes/"><img src="{% static "acidentes/images/logo.png" %}"/></a></h1>

            <div class="row">
                <!-- menu da barra lateral -->
                <div class="small-12 columns">
                    <h3 class="panel-header-blue short">
                        Funções
                    </h3>
                    <ul class="side-nav panel-bg">
                        <li><a href="/acidentes/">Início</a></li>
                        <li><a href="/acidentes/compara_estados">Comparativo entre UFs</a></li>
                        <li><a href="/acidentes/compara_pais">Comparativo de UF com o Brasil</a></li>
                        <li><a href="/acidentes/regiao_pais">Comparativo de região com o Brasil</a></li>
                        <li><a href="/acidentes/evolucao_regioes">Comparativo entre regiões</a></li>
                        <li><a href="/acidentes/evolucao_brasil">Evolução dos acidentes no Brasil</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- bloco do conteúdo -->
        <div class="small-12 medium-9 columns">
            <!-- begin of content block -->
            {% block conteudo %}
            {% endblock conteudo %}
            <!-- end of content block -->
        </div>
    </div>

    <footer class="row">
        <div class="large-12 columns">
            <hr/>
            <div class="row">
                <div class="large-6 columns">
                    <p><small>UFSM Campus de Frederico Westphalen / 2014</small></p>
                </div>
                <div class="large-6 columns">
                    <ul class="inline-list right">
                        <li><a href="http://dados.gov.br/"><small>dados.gov.br</small></a></li>
                        <li><a href="http://www.previdencia.gov.br"><small>previdencia.gov.br</small></a></li>
                        <li><a href="http://www.ufsm.br"><small>ufsm.br</small></a></li>
                    </ul>
                </div>
            </div>
        </div> 
    </footer>

    <script src="{% static "acidentes/js/vendor/jquery.js" %}"></script>
    <script src="{% static "acidentes/js/foundation.min.js" %}"></script>
    {% block page_js %}
    <script>
        $(document).foundation();
    </script>
    {% endblock page_js %}
</body>
</html>