<html>
	<head>
        <title>contato</title>		
        <meta charset="UTF-8">
		<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
		<link href="styles.css" rel='stylesheet' type='text/css'/>
    </head>
	<body background="images/teste12.jpeg">
		<div class="container">
			<div class="row" style="text-align: left">
				<div class="col-xs-3 nopadding semborda" style="text-align: left">            
					<a href="index.html"> <img  src="images/logo3.png" height="80" width="160"/></a>
				</div>
				<div class="col-xs-5 col-xs-offset-0 nopadding semborda titulopag" style="text-align: center">            
					<strong>APLICAÇÃO PARA VISUALIZAÇÃO DE ACIDENTES DE TRABALHO</strong>
				</div>
				<div class="col-xs-4 col-xs-offset-0 nopadding semborda" style="text-align: center">            					
					<div class="nopaddingbotoes">
					
								<a href="Você sabia.html" class="ab-boton">Você sabia ?</a>
								<a href="contato.html" class="ab-boton">Contato</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row" style="text-align: center">
				<div class="col-xs-12 col-xs-offset-0 nopadding" style="text-align: center" >            
					<div align="center" class="account-wall" style="text-align: center; background-color: #B1BEC1">					
						<div class="row" style="text-align: center">
							<table border="1" width="80%" align="center" >
									<thead>
										<tr>
										<th>Nome</th>
										<th>Email</th>
										<th>Telefone</th>
										</tr>
									</thead>
								<tbody align="left" >
									<tr>
										<td>Cássio</td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Daniel</td>
										<td></td>
										<td></td>
									</tr> 
									<tr>
										<td>Gustavo</td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Iulisloi</td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td>Júlio</td>
										<td></td>
										<td></td>
									</tr> 
									<tr>
										<td>Rafael</td>
										<td></td>
										<td></td>
									</tr> 
								</tbody>
							</table>	      				
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<hr/>
		<footer>
			<div>
				<p align="center">UFSM Campus de Frederico Westphalen @ 2014</p>
			</div>
		</footer>
	</body>	
</html>