<html>
	<head>
        <title>contato</title>		
        <meta charset="UTF-8">
		<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
		<link href="styles.css" rel='stylesheet' type='text/css'/>
    </head>
	<body background="images/teste12.jpeg">
		<div class="container">
			<div class="row" style="text-align: left">
				<div class="col-xs-3 nopadding semborda" style="text-align: left">            
					<a href="index.html"> <img  src="images/logo3.png" height="80" width="160"/></a>
				</div>
				<div class="col-xs-5 col-xs-offset-0 nopadding semborda" style="text-align: center">            
					<h2><strong>AVDAT</strong></h2>
				</div>
				<div class="col-xs-4 col-xs-offset-0 nopadding semborda" style="text-align: center">            					
					<div class="nopaddingbotoes">
					
								<a href="informacao.html" class="ab-boton">Informações</a>
								<a href="contato.html" class="ab-boton">Contato</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row" style="text-align: center">
				<div class="col-xs-12 col-xs-offset-0 nopadding" style="text-align: center" >            
					<div align="center" class="account-wall" style="text-align: center; background-color: #B1BEC1">					
						<div class="row" style="text-align: center">
							
								parte com informações de contato
							      				
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<hr/>
		<div class="container">
			<div class="row" style="text-align: center">
				<div class="col-xs-12 nopadding " style="text-align: center">            
					<footer>CESNORS Campus de Frederico Westphalen @ 2014</footer>
				</div>
			</div>
		</div>
	
	</body>	
</html>