{% extends "acidentes/base.html" %}

{% block conteudo %}
						<div class="row" style="text-align: center">				  				   
							<div class="col-xs-6 col-sm-6" style="text-align: center">					
									<ul><h4 align="left">Equipe desenvolvedora</h4>
										<li align="left"><strong>Orientador</strong></li>
										<p></p>
										<li align="left">Cristiano Bertolini</li>
										<p></p> 	
										<li align="left"><strong>Colaboradores</strong></li>
										<p></p>
										<li align="left">Cássio Michels</li>
										<li align="left">Daniel Prediger Girardi</li>
										<li align="left">Gustavo Bathu Paulus</li>
										<li align="left">Iulisloi Zacarias</li>
										<li align="left">Júlio Wilhelm Moerschbächer</li>
										<li align="left">Rafael Vitalli</li>
									</ul>	
							</div>
								<div class="col-xs-6 col-sm-6" style="text-align: center"> 
									<ul><h4 align="left">Endereço</h4>
										<p></p>
										<li align="left">Frederico Westphalen</li>
										<li align="left">Cep:98400-000</li>
										<p></p> 
										<li align="left">Rio Grande do sul</li>
										<li align="left">Brasil</li>
									</ul>													
							</div>	
						</div>
{% endblock %}