<!doctype html>{% load staticfiles %}
<html>
	<head>
        <title>AVDAT</title>		
        <meta charset="UTF-8">
		<link href="{% static "acidentes/css/bootstrap.min.css" %}" rel='stylesheet' type='text/css'/>
		<link href="{% static "acidentes/styles.css" %}" rel='stylesheet' type='text/css'/>
    </head>
	<body background="{% static "acidentes/images/teste12.jpeg" %}">
		<div class="container">
			<div class="row" style="text-align: left">
				<div class="col-xs-3 nopadding semborda" style="text-align: left">            
					<a href="/acidentes/"> <img src="{% static "acidentes/images/logo3.png" %}" height="80" width="160"/></a>
				</div>
				<div class="col-xs-5 col-xs-offset-0 nopadding semborda titulopag" style="text-align: center">
					<strong>Aplicação para visualização de acidentes de trabalho</strong>
				</div>
				<div class="col-xs-4 col-xs-offset-0 nopadding semborda" style="text-align: center">            		
					<div class="nopaddingbotoes">
						<a href="voce_sabia" class="ab-boton">Você sabia?</a>
						<a href="equipe" class="ab-boton">Equipe</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row" style="text-align: center">
				<div class="col-xs-12 col-xs-offset-0 nopadding" style="text-align: center">            
					<div align="center" class="account-wall" style="text-align: center; background-color: #B1BEC1">					
						<div class="row" style="text-align: center">
						<form method="POST" action="/acidentes/">{% csrf_token %}
							{% if erro %}
							<div class="alert alert-danger col-xs-12" role="alert">Selecione um estado</div>
							{% endif %}
							<div class="col-xs-1 col-sm-4" style="text-align: center">														 
									<label>
									 <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_0" />
									 Estado </label>&nbsp;&nbsp;&nbsp;&nbsp;
									 
									<label>
									 <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_1" />
									 Região </label>&nbsp;&nbsp;&nbsp;&nbsp;
									 
									<label>
									 <input type="radio" name="RadioGroup1" value="radio" id="RadioGroup1_2" />
									 Município </label>
							</div>
							<div class="col-xs-4 col-sm-2" style="text-align: center"> 
									<select name="uf">
										<option value="selecione">Selecione um estado</option>
										{% for uf in estados %}
										<option value="{{uf.sigla}}">{{uf.sigla}}</option>
										{% endfor %}
									</select>													
							</div>
							<div class="col-xs-2 col-sm-4" style="text-align: center">						
								<input type="submit" value="Visualizar" />
							</div>
						</form>	
						</div>
					</div>            
				</div>
			</div>
		</div>
		<br>
		<div class="container">
			<div class="row" style="text-align: center">
				<div class="col-xs-6 col-xs-offset-0 nopadding" style="text-align: center" id="chart_div">            
					<div align="center" class="account-wall" style="text-align: center; background-color: #C0D9D9">					
						<div class="row" style="text-align: center">	
							
						</div>
					</div>            
				</div>
				<div class="col-xs-6 col-xs-offset-0 nopadding" style="text-align: center" id="regions_div">            
					<div align="center" class="account-wall" style="text-align: center; background-color: #C0D9D9">					
						<div class="row" style="text-align: center">
							<div style="width: 400px; height: 250px;">	  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br><br>
		<div class="container">
			<div class="row">
				<div id="map_canvas" class="col-xs-12 col-xs-offset-0">            				
				</div>
			</div>
		</div>
		<br>
		<hr/>       
		<footer>
			<div>
				<p align="center"> UFSM Campus de Frederico Westphalen @ 2014</p>
			</div>
		</footer>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="{% static "acidentes/js/sha512.js" %}"></script> 
        <script type="text/javascript" src="{% static "acidentes/js/forms.js" %}"></script> 
        <script type="text/javascript" src="{% static "acidentes/js/highcharts.js" %}"></script>
        {% load chartit %}
		{{ charts|load_charts:"chart_div,regions_div" }}
		<script>
		  function initialize() {
			var mapCanvas = document.getElementById('map_canvas');
			var mapOptions = {
			  center: new google.maps.LatLng(-13.433010, -49.800219),
			  zoom: 4,
			  mapTypeId: google.maps.MapTypeId.ROADMAP
			}
			var map = new google.maps.Map(mapCanvas, mapOptions);
		  }
		  google.maps.event.addDomListener(window, 'load', initialize);
		</script>
	</body>
</html>