<html>
	<head>
        <title>informações</title>		
        <meta charset="UTF-8">
		<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
		<link href="styles.css" rel='stylesheet' type='text/css'/>
    </head>
	<body background="images/teste12.jpeg">
		<div class="container">
			<div class="row" style="text-align: left">
				<div class="col-xs-3 nopadding semborda" style="text-align: left">            
					<a href="index.html"> <img  src="images/logo3.png" height="80" width="160"/></a>
				</div>
				<div class="col-xs-5 col-xs-offset-0 nopadding semborda" style="text-align: center">            
					<h2><strong>AVDAT</strong></h2>
				</div>
				<div class="col-xs-4 col-xs-offset-0 nopadding semborda" style="text-align: center">            					
					<div class="nopaddingbotoes">
					
								<a href="informacao.html" class="ab-boton">Informações</a>
								<a href="contato.html" class="ab-boton">Contato</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row" style="text-align: center">
				<div class="col-xs-12 col-xs-offset-0 nopadding" style="text-align: center" >            
					<div align="center" class="account-wall" style="text-align: center; background-color: #B1BEC1">					
						<div class="row" style="text-align: center">
							<h4>O que é acidente de trabalho</h4>
								
								<p align="center">Conforme dispõe o art. 19 da Lei nº 8.213/91,"acidente de trabalho é o que ocorre pelo exercício do trabalho a serviço da empresa ou pelo exercício
								do trabalho dos segurados referidos no inciso VII do art. 11 desta lei, provocando lesão corporal ou perturbação funcional que cause a morte ou a perda ou redução,
								permanente ou temporária, da capacidade para o trabalho".</p>
								
								<ol><h5 align ="left">Acidente de trabalho típico, por expressa determinação legal, as doenças profissionais e/ou ocupacionais equiparam-se a acidentes de trabalho. Os incisos do art. 20 da Lei nº 8.213/91 as conceitua:</h5>
									<li align ="left">Doença profissional, assim entendida a produzida ou desencadeada pelo exercício do trabalho peculiar a determinada atividade e constante da respectiva relação elaborada pelo Ministério do Trabalho e da Previdência Social;</li>
									<li align ="left">Doença do trabalho, assim entendida a adquirida ou desencadeada em função de condições especiais em que o trabalho é realizado e com ele se relacione diretamente, constante da relação mencionada no inciso I.</li>
								</ol>
								<p align ="center">Como se revela inviável listar todas as hipóteses dessas doenças, o § 2º do mencionado artigo da Lei nº 8.213/91 estabelece que, "em caso excepcional, constatando-se que a doença não incluída na relação prevista nos
								incisos I e II deste artigo resultou das condições especiais em que o trabalho é executado e com ele se relaciona diretamente, a Previdência Social deve considerá-la acidente do trabalho".</p>
								<ol><h4>O art. 21 da Lei nº 8.213/91 equipara ainda a acidente de trabalho:</h4>
									<li align ="left">I - o acidente ligado ao trabalho que, embora não tenha sido a causa única, haja contribuído diretamente para a morte do segurado, para redução ou perda da sua capacidade para o trabalho, ou produzido lesão que exija atenção médica para a sua recuperação;</li>
									<li align ="left">II - o acidente sofrido pelo segurado no local e no horário do trabalho, em consequência de:</li>
									<li align ="left">a) ato de agressão, sabotagem ou terrorismo praticado por terceiro ou companheiro de trabalho;</li>
									<li align ="left">b) ofensa física intencional, inclusive de terceiro, por motivo de disputa relacionada ao trabalho;</li>
									<li align ="left">c) ato de imprudência, de negligência ou de imperícia de terceiro ou de companheiro de trabalho;</li>
									<li align ="left">d) ato de pessoa privada do uso da razão;</li>
									<li align ="left">e) desabamento, inundação, incêndio e outros casos fortuitos ou decorrentes de força maior;</li>
									<li align ="left">III - a doença proveniente de contaminação acidental do empregado no exercício de sua atividade;</li>
									<li align ="left">IV - o acidente sofrido pelo segurado ainda que fora do local e horário de trabalho:</li>
									<li align ="left">a) na execução de ordem ou na realização de serviço sob a autoridade da empresa;</li>
									<li align ="left">b) na prestação espontânea de qualquer serviço à empresa para lhe evitar prejuízo ou proporcionar proveito;</li>
									<li align ="left">c) em viagem a serviço da empresa, inclusive para estudo quando financiada por esta dentro de seus planos para melhor capacitação da mão de obra, independentemente do meio de locomoção utilizado, inclusive veículo de propriedade do segurado;</li>
									<li align ="left">d) no percurso da residência para o local de trabalho ou deste para aquela, qualquer que seja o meio de locomoção, inclusive veículo de propriedade do segurado.</li>
								</ol>
								<ol><h4>Informações adicionais</h4>
									<p align="left " >Nos períodos destinados a refeição ou descanso, ou por ocasião da satisfação de outras necessidades fisiológicas, no local do trabalho ou durante este, o empregado é considerado no exercício do trabalho.</p>
									<p align="left ">Esses acidentes não causam repercussões apenas de ordem jurídica. Nos acidentes menos graves, em que o empregado tenha que se ausentar por período inferior a quinze dias, o empregador deixa de contar com a mão
									de obra temporariamente afastada em decorrência do acidente e tem que arcar com os custos econômicos da relação de empregado.</P>
									<p align="left "> O acidente repercutirá ao empregador também no cálculo do Fator Acidentário de Prevenção - FAP da empresa,
									nos termos do art. 10 da Lei nº 10.666/2003.</p>
									<p align="left">Os acidentes de trabalho geram custos também para o Estado.
									Incumbe ao Instituto Nacional do Seguro Social – INSS administrar a prestação de benefícios, tais como auxílio-doença acidentário,
									auxílio-acidente, habilitação e reabilitação profissional e pessoal, aposentadoria por invalidez e pensão por morte</p>
									<p align="left">Estima-se que a Previdência Social gastou, só em 2010, cerca de 17 bilhões de reais com esses benefícios.</p>
								</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<hr/>
		<div class="container">
			<div class="row" style="text-align: center">
				<div class="col-xs-12 nopadding " style="text-align: center">            
					<footer>CESNORS Campus de Frederico Westphalen @ 2014</footer>
				</div>
			</div>
		</div>
	</body>	
</html>