{% extends "acidentes/base.html" %}

{% block conteudo %}
						<div class="row" style="text-align: center">
							<h4>O que é acidente de trabalho</h4>
							<ol align ="left">Acidentes de trabalho são aqueles que acontecem no exercício do trabalho prestado à empresa e que provocam lesões corporais ou perturbações funcionais que podem resultar em morte ou na perda ou em redução, permanente ou temporária,
									das capacidades físicas ou mentais do trabalhador. Acidente de trabalho típico, por expressa determinação legal, as doenças profissionais e/ou ocupacionais equiparam-se a acidentes de trabalho. Os incisos do art. 20 da Lei nº 8.213/91 as conceitua:</li>
									<br></br>
									<li align ="left">Doença profissional, assim entendida a produzida ou desencadeada pelo exercício do trabalho peculiar a determinada atividade e constante da respectiva relação elaborada pelo Ministério do Trabalho e da Previdência Social;</li>
									<li align ="left">Doença do trabalho, assim entendida a adquirida ou desencadeada em função de condições especiais em que o trabalho é realizado e com ele se relacione diretamente, constante da relação mencionada no inciso I.</li>
							</ol>
							<ol><h4>Informações adicionais</h4>
									<p align="left" >Nos períodos destinados a refeição ou descanso, ou por ocasião da satisfação de outras necessidades fisiológicas, no local do trabalho ou durante este, o empregado é considerado no exercício do trabalho.</p>
									<p align="left">Os acidentes de trabalho geram custos também para o Estado.
									Incumbe ao Instituto Nacional do Seguro Social – INSS administrar a prestação de benefícios, tais como auxílio-doença acidentário,
									auxílio-acidente, habilitação e reabilitação profissional e pessoal, aposentadoria por invalidez e pensão por morte</p>
									<p align="left">Estima-se que a Previdência Social gastou, só em 2010, cerca de 17 bilhões de reais com esses benefícios.</p>
									<p align="left">Segundo o estudo da OIT, o Brasil ocupa o 4º lugar em relação ao número de mortes, com 2.503 óbitos.
									O país perde apenas para China(14.924), Estados Unidos (5.764) e Rússia (3.090).</p>
							</ol>
						</div>
{% endblock conteudo %}